body {
  background-color: tan !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row {
  display: flex !important;
}

.fixed-height {
  height: 400px;
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

.hiker-boxes{
  padding: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}


.btn-massive {
    padding: 10px 20px;
    font-size: 60px !important;
    border-radius: 10px;
}

#number-of-berries{
  margin-bottom: 1px;
}

#number-of-captures{
  margin-bottom: 1px;
}

#button-row{
  margin-top: 5%;
  margin-left: 20%;
}
