body {
  background-color: tan !important;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}


.btn-massive {
    padding: 10px 20px;
    font-size: 60px !important;
    border-radius: 10px;
}
